* {
    border: none;
}

window#waybar {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    opacity: 1;
}

#workspaces {
    color: white;
	margin: 0px;
	margin-left: 10px;
	border-radius: 10px;
}
#workspaces button {
    padding: 0 9px;
    color: white;
    min-width: 40px;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
}

#workspaces button.focused {
    color: #7aa2f7;
    border-top: 1px solid #7aa2f7;
    border-bottom: 1px solid #7aa2f7;
}

#workspaces button:hover {
    color: black;
	background-color: #5e81ac;
	border-radius: 5px;
}


#clock, #tray, #battery, #pulseaudio, #network, #temperature,#cpu,#memory, #bluetooth{
	background-color: #4c566a;
	background-color: #373737;
    padding: 0 5px;
}

#clock {
    color: #b48ead;
}

#battery {
    color: #a3be8c;
}

#custom-gpu-usage {
    color: #FF69B4;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.charging {
    color: #a3be8c;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
	color: #2aa198;
}

#memory {
    color: #2aa000;
}

#temperature {
	color: #d08770;
}

#pulseaudio {
	color: #ebcb8b;
}

#bluetooth {
    color: #268bd2;
}

